<h2 class="text-center my-4">Listado de Pasajeros</h2>

<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Identificación</th>
            <th>País de Origen</th>
            <th>Código de Reserva</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pasajero in Model)
        {
            <tr>
                <td>@pasajero.Nombre</td>
                <td>@pasajero.Apellido</td>
                <td>@pasajero.Identificacion</td>
                <td>@pasajero.PaisOrigen</td>
                <td>@pasajero.CodigoReserva</td>
                <td>
                    <div class="d-flex">
                        <form asp-action="Delete" method="post" class="me-2">
                            <input type="hidden" name="identificacion" value="@pasajero.Identificacion" />
                            <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                        </form>
                        
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="/Pasajero/Create" class="btn btn-success mt-3">Ingresar Nuevo Pasajero</a>
